.home .user {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.home img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 40px;
}

.home .user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.home .user-account {
    font-size: 14px;
    color: #333;
}

.home .login-info {
    line-height: 28px;
    font-size: 16px;
    color: #949494;
}

.home .login-info span {
    margin-left: 10%;
    color: #333;
}

.home .num {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home .num .ant-card {
    width: 33.33%;
}

.home .num .ant-card-body {
    display: flex;
    padding: 10px 25px;
}

.home .num .icon-box {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    text-align: center;
    line-height: 85px;
    color: white;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.home .anticon {
    font-size: 30px;
    margin-top: 25px;
}

.home .num .detail {
    margin-left: 20%;
}

.home .num .detail .num {
    font-size: 30px;
}

.home .num .detail .txt {
    font-size: 15px;
}

.home .graph {
    display: flex;
    margin-top: 20px;
}